# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Environment
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Testes
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
logs/

# Docker
postgres_data/
redis_data/

.run-tests.ps1